# find the euclidean_distance and manhatten_distance ?

In [8]:
def distance(p1,p2,metrics="euclidean_distance"):
    """ 
    In this function you find out euclidean_distance and manhatten_distance betwwen the two datapoints.
    ---------------------------------------------------------------------------------------------------
    p1: 1st datapoint
    p2: 2nd datapoint
    ------------------------------------------------------------------------------------------------------
    metrics :["euclidean_distance","manhatten_distance","both"]
        -------------------------------------------------------------
        euclidean_distance: np.sqrt((p1[0]-p2[0])**2+(p1[1]-p[1])**2)
        --------------------------------------------------------------
        manhatten_distance: (abs(p1[0]-p2[0])+abs(p1[1]-p2[1]))
    --------------------------------------------------------------------------------------------------------
    """
    import numpy as np
    import pandas as pd
    import matplotlib.pyplot as plt
    
    p1=np.array(p1)
    p2=np.array(p2)
    if metrics=="manhatten_distance":
        M=abs(p1-p2)
        manhatten_distance=M.sum()
        result=pd.DataFrame({"p1":[p1],"p2":[p2],"Manhatten_distance":[round(manhatten_distance,2)]})
        return result
        
    elif metrics=="euclidean_distance":
        euclidean_distance=np.sqrt(((p1-p2)**2).sum())  #2,4 #4,16 #20
        result=pd.DataFrame({"p1":[p1],"p2":[p2],"Euclidean_distance":[round(euclidean_distance,2)]}) #f"euclidean_distance ::: {round(euclidean_distance,2)}"
        return result
    else:
        M=abs(p1-p2)
        manhatten_distance=M.sum()
        euclidean_distance=np.sqrt(((p1-p2)**2).sum())
        dict1={"p1":[p1,p1],"p2":[p2,p2],"metrics":["Euclidean_distance","Manhatten_distance"],"Distance":[round(euclidean_distance,2),round(manhatten_distance,2)]}
        result=pd.DataFrame(dict1)
        return result

In [9]:
distance([700,400],[780,350],metrics="both")

           p1          p2             metrics  Distance
0  [700, 400]  [780, 350]  Euclidean_distance     94.34
1  [700, 400]  [780, 350]  Manhatten_distance    130.00

In [10]:
distance([8,7],[5,4],metrics="manhatten_distance")

       p1      p2  Manhatten_distance
0  [8, 7]  [5, 4]                   6

In [11]:
distance([8,15],[7,6])

        p1      p2  Euclidean_distance
0  [8, 15]  [7, 6]                9.06